<!DOCTYPE html>
<html>
  	<head>
    	<title>Quizzes</title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
 	<body>
		<header>
		 <h2>Quiz site</h2>
		</header>

		<nav>
			<a href="/"> Home </a>
			<a href="/credits"> Credits </a>
			<a href="/quizzes"> Quizzes </a>
		</nav>

		<section>
			<div>
				<%- body%>
			</div>
		</section>
	

		<footer>
	
		</footer>
	</body>


</html>